{% extends 'base.html.twig' %}

{% block subtitle %} {{ "admin.dashboard.title"|trans }} {% endblock %}

{% block body %}
    <h1>{{ "admin.dashboard.title"|trans }}</h1>

    {{ "admin.dashboard.welcome"|trans({'{username}': app.user.username}) }}
{% endblock %}
