body {
    margin: 0 20px;
}

/** SPINNER **/
#spinner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
}

.spinner-border {
    position: absolute;
    top: 450px;
    left: 50%;
}

/** CARDS **/

.card {
    width: 19%;
}

.card.selected {
    transition: transform 0.3s;
    transform: scale(0.9);
}

.new-position.hidden {
    display: none;
    /*opacity: 0;*/
}

.update-photo-label{
    font-size: 2.2rem;
    font-weight: 400;
}